// Forms > Text Inputs & Textareas
form input:focus,
form textarea:focus {
  outline: none
}
form input::-moz-focus-inner { // NOTE: property needs to be separate
  outline: none;
}
// Forms > Text Inputs & Textareas > Textarea with button
form .textarea-with-btn {
  position: relative;
}
form .textarea-with-btn textarea {
  padding-right: $gutter*10; // NOTE: magic number based on length of button text
}
form .textarea-with-btn .btn {
  position: absolute;
  top:   $gutter;
  right: $gutter*2;
}
