// bootstrap overrides
$body-color: #092844;
$link-color: #092844;
$link-decoration: underline;
// $body-bg: #D9DFEC linear-gradient(180deg, #FAFBFD 0%, #d9DfEc 100%);

$theme-colors: map-merge(
  (
    "primary":    #EC583F,
    "alt": #D9DFEC,
    // "secondary":  $secondary,
    // "success":    $success,
    // "info":       $info,
    // "warning":    $warning,
    // "danger":     $danger,
    // "light":      $light,
    // "dark":       $dark
  ),
  $theme-colors
);

// stuff we made up
$btn-color: #fff;
$theme: 'light';
