// Setup: Variables & Mixins
//
// This file is injected into every Vue component and SCSS file

//
//
// BOOTSTRAP VARIABLE OVERRIDES

// COLORS
$theme-colors: (
  "twitter": #499FEC,
  "facebook": #405993,
  "primary": #41CF7A,
  "alt": #424956,
  "success": #41CF7A,
  "dark-grey": darken(#424956, 15%),
  "darker-grey": darken(#424956, 20%),
);

$text-muted: rgba(255, 255, 255, 0.7);
$modal-content-color: #222;

// BODY
$body-color: #fff;
$body-bg: #29303C;

$link-color: #52B1FF;

// COMPONENTS
$border-radius: 5px;
$grid-gutter-width: 10px;

// TYPOGRAPHY
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-weight-bold: 700;
$headings-font-family: 'Montserrat', $font-family-sans-serif;
$headings-font-weight: 700;

// BUTTONS
$btn-font-weight: $font-weight-bold;
//$btn-border-width: 0;
$btn-font-size-lg: 2.2rem;
$btn-padding-y-lg: 1.125rem;

// FORMS
$input-padding-y: 0.7rem;
$input-padding-x: 1.25rem;

// PROGRESS BAR
$progress-height: 1.5rem;
$progress-bar-transition: width 2s ease-in-out;

// CONTAINER WIDTH
$container-max-widths: (
  // sm: 540px,
  // md: 720px,
  lg: 768px,
  xl: 770px
);

// CARD
$card-color: $body-bg;
$card-cap-bg: #f6f6f6;
$card-cap-color: $body-bg;
$card-border-color: none;


// stuff we made up
$btn-color: #fff;
$fftf-logo-light: true;


// MIXINS

@mixin arrow-generic($color, $size: $spacer * 1.5) {
  position: relative;

  &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: $size;
  }
}

@mixin arrow-up($color, $size: $spacer*1.5) {
  @include arrow-generic($color, $size);

  &:after {
    bottom: 100%;
    left: 50%;
    border-bottom-color: $color;
    margin-left: $size * -1;
  }
}

@mixin arrow-right($color, $size: $spacer*1.5) {
  @include arrow-generic($color, $size);

  &:after {
    left: 100%;
    top: 50%;
    border-left-color: $color;
    margin-top: $size * -1;
  }
}

@mixin arrow-left($color, $size: $spacer*1.5) {
  @include arrow-generic($color, $size);

  &:after {
    right: 100%;
    top: 50%;
    border-right-color: $color;
    margin-top: $size * -1;
  }
}

@mixin arrow-down($color, $size: $spacer*1.5) {
  @include arrow-generic($color, $size);

  &:after {
    top: 100%;
    left: $spacer * 2;
    border-top-color: $color;
    margin-left: $size * -1;
  }
}

@mixin arrow-up-left($color, $size: $spacer*1.5) {
  @include arrow-up($color, $size);

  &:after {
    left: $size * 2;
  }
}

@mixin background-icon($url, $size: $spacer * 3) {
  position: relative;
  &:before {
    content: '';
    background-image: url($url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    position: absolute;
    top: 0;
    width: $size;
  }
}

@mixin background-icon-left($url, $size: $spacer *3, $margin: null) {
  @include background-icon($url, $size);
  @if $margin==null {
    $margin: $size / 2;
  }

  $padding: $margin * 2 + $size;
  @if $margin==0 {
    $padding: $spacer + $padding;
  }

  padding-left: $padding;

  &:before {
    left: $margin;
  }
}

@mixin background-icon-right($url, $size: $spacer *3, $margin: '') {
  @include background-icon($url, $size);
  @if $margin=='' {
    $margin: $size / 2;
  }

  $padding: $margin * 2 + $size;
  @if $margin==0 {
    $padding: $spacer + $padding;
  }

  padding-right: $margin * 2 + $size;

  &:before {
    right: $margin;
  }
}


// Give all components access to BS mixins and vars
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_mixins.scss';
@import '~bootstrap/scss/_variables.scss';
