<section>
  <h1>__REPLACE_ME_WITH_DOMAIN_NAME__</h1>
  <div class="container">
    <p>Sub heading goes here, lorem ipsum dolor sit amet, consectetur adipiscing elit. In nibh libero, venenatis sed justo eu, sollicitudin nisi. Integer semper tortor orci, id ultricies velit laoreet in. Vestibulum sit amet ante vel risus ornare ultrices sed id leo.</p>
    <p>
      <a href="#" @click.prevent="$scrollTo('#sign')"><img
        src="~assets/images/arrow-down-light.svg" alt="Scroll down"></a>
    </p>
  </div>
</section>

<section id="sign">
  <div class="container">
    <h2>Sign the petition</h2>
    <p>This issue is important because lorem ipsum dolor sit amet, consectetur elit. In nibh libero, venenatis sed justo eu, sollicitudin nisi. Integer semper tortor orci, id ultricies velit laoreet in. Vestibulum sit amet ante vel risus ornare ultrices sed id leo.</p>

    <ActionNetworkForm
      petition-id=""
      tags=""
    />
  </div>
</section>
