<section>
  <h1>__REPLACE_ME_WITH_DOMAIN_NAME__</h1>
  <div class="container">
    <p>Sub heading goes here, lorem ipsum dolor sit amet, consectetur adipiscing elit. In nibh libero, venenatis sed justo eu, sollicitudin nisi. Integer semper tortor orci, id ultricies velit laoreet in. Vestibulum sit amet ante vel risus ornare ultrices sed id leo.</p>
    <p>
      <button class="btn btn-link" @click.prevent="$scrollTo('#sign')">
        <img src="~assets/images/arrow-down-light.svg" alt="Scroll down to sign the petition">
      </button>
    </p>
  </div>
</section>

<section id="sign" aria-labelledby="h2-sign">
  <div class="container">
    <h2 id="h2-sign">Sign the petition</h2>
    <p>This issue is important because lorem ipsum dolor sit amet, consectetur elit. In nibh libero, venenatis sed justo eu, sollicitudin nisi. Integer semper tortor orci, id ultricies velit laoreet in. Vestibulum sit amet ante vel risus ornare ultrices sed id leo.</p>

    <ActionNetworkForm
      petition-id=""
      tags=""
    />
  </div>
</section>
